# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print (child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print ('* ' + element.find('name').text + ':'),
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print (capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [4]:
import pandas as pd
new_document = ET.parse( './data/mondial_database.xml' )
x=new_document.getroot()

In [6]:
# 1. 10 countries with the lowest infant mortality rates
# Initialize empty data frame

infant_data=pd.DataFrame()
infant_index = 0
for elt in new_document.getiterator("country"):
    country_name = elt.find('name').text
    for subelt in elt.getiterator('infant_mortality'):
        mortality_rate = subelt.text
    dframe={"country": country_name,"infant mortality rate":pd.to_numeric(mortality_rate)}
    # Add country and rate to data frame   
    infant_data = infant_data.append(pd.DataFrame(dframe,index=[infant_index]))
    infant_index+=1
    # Sort data frame by infant mortality rate
infant_data.sort("infant mortality rate", ascending=False).head(10)

D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:15: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

                      country  infant mortality rate
194            Western Sahara                 145.82
54                Afghanistan                 117.23
189                      Mali                 104.34
226                   Somalia                 100.14
213  Central African Republic                  92.86
230             Guinea-Bissau                  90.92
214                      Chad                  90.30
192                     Niger                  86.27
195                    Angola                  79.99
201              Burkina Faso                  76.80

In [7]:
# 2. 10 cities with the largest population
# Initialize empty data frame
city_data=pd.DataFrame()
city_index = 0
# Search through XML trees for city and population
for elt in new_document.getiterator("city"):
    city_name = elt.find('name').text
    for subelt in elt.getiterator('population'):
        city_pop = pd.to_numeric(subelt.text)
        census_year = subelt.attrib['year']
    dframe={"city": city_name,"population":city_pop, "census year": census_year}
    # Add city and population to data frame  
    city_data = city_data.append(pd.DataFrame(dframe,index=[city_index]))
    city_index+=1
    # Sort data frame by population   
city_data[["city","population","census year"]].sort("population", ascending=False).head(10)

D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:16: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

           city  population census year
1341   Shanghai    22315474        2010
771    Istanbul    13710512        2012
1527     Mumbai    12442373        2011
479      Moskva    11979529        2013
1340    Beijing    11716620        2010
2810  São Paulo    11152344        2010
1342    Tianjin    11090314        2010
1064  Guangzhou    11071424        2010
1582      Delhi    11034555        2011
1067   Shenzhen    10358381        2010

In [8]:
# 3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
# Initialize empty data frame
ethnic_data=pd.DataFrame()
ethnic_index = 0
# Search through XML trees for country, ethnic group and percentage for each group
for elt in new_document.getiterator("country"):
    country_name = elt.find('name').text
    for subelt in elt.getiterator('ethnicgroup'):
        ethnic_group = subelt.text
        percentage = pd.to_numeric(subelt.attrib["percentage"])
        dframe={"country": country_name,"ethnic group":ethnic_group, "percentage":percentage }
        # Add country, ethnic group and percentage to data frame  
        ethnic_data = ethnic_data.append(pd.DataFrame(dframe,index=[ethnic_index]))
        ethnic_index+=1
# Initialize empty data frame        
pop_data=pd.DataFrame()
pop_index = 0
# Search through XML trees for country, population and census year
for elt in new_document.getiterator("country"):
    country_name = elt.find('name').text
    for subelt in elt.findall('population'):
        country_pop = pd.to_numeric(subelt.text)
        census_year = subelt.attrib['year']
    # Add country, population and census year to data frame  
    dframe={"country": country_name,"population":country_pop, "census year": census_year}
    pop_data = pop_data.append(pd.DataFrame(dframe,index=[pop_index]))
    pop_index+=1
# Merge the ethnic data table and population data tables together
both_tables =pd.merge(ethnic_data,pop_data, on='country')
# Create a new column with total population for each ethnic group
both_tables["ethnic population"] =both_tables.percentage*both_tables.population/100
pd.options.display.float_format = '{:.0f}'.format
ethnic_percents=both_tables.groupby(["ethnic group"]).sum().reset_index()
ethnic_subset = ethnic_percents[["ethnic group","ethnic population"]]
ethnic_subset.sort("ethnic population", ascending= False).head(10)

D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:35: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

    ethnic group  ethnic population
113  Han Chinese         1245058800
120   Indo-Aryan          871815583
89      European          494872220
2        African          318325120
77     Dravidian          302713744
176      Mestizo          157734355
42       Bengali          146776917
217      Russian          131856996
128     Japanese          126534212
163        Malay          121993550

In [9]:
# name and country of a) longest river, b) largest lake and c) airport at highest elevation
# These questions all have the same format:
def xml_search(iterator,find_text):
    data=pd.DataFrame()
    data_index = 0
    for elt in new_document.iter(iterator):
        iter_name  = elt.find('name').text
        iter_num = pd.to_numeric(elt.findtext(find_text),errors="coerce")
        dframe={iterator: iter_name,find_text:iter_num}
        data = data.append(pd.DataFrame(dframe,index=[data_index]))
        data_index+=1
    return(data.sort(find_text, ascending=False).head(1))

In [10]:
# Longest river
xml_search("river","length")

D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:12: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

     length     river
174    6448  Amazonas

In [11]:
# Largest Lake
xml_search("lake","area")

D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:12: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

     area         lake
54 386400  Caspian Sea

In [12]:
# Airport at highest elevation
xml_search("airport","elevation")

D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:12: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

         airport  elevation
80  El Alto Intl       4063